## Conditional
- f berfungsi untuk mengubah variabel di dalam kurung kurawal menjadi string

In [38]:
angka = 29
print(f'{angka} lebih besar dari 30')

29 lebih besar dari 30

In [39]:
True

True

In [40]:
False

False

In [41]:
number = 46
if True:
  print(f'{number} lebih besar dari 30')

46 lebih besar dari 30

In [42]:
number = 30.1
if number > 30:
  print(f'{number} lebih besar dari 30')
else:
  print(f'{number} lebih kecil dari 30')

30.1 lebih besar dari 30

In [43]:
angka = 15
if angka%2 == 1:
  print(f'{angka} adalah angka ganjil')
else:
  print(f'{angka} adalah angka genap')

15 adalah angka ganjil

In [44]:
bahasa_pemrograman = ['python', 'java', 'javascript', 'golang']
bahasa ='hmtl'

if bahasa in bahasa_pemrograman:
  print(f'{bahasa} ada dalama bahasa_pemrograman')
else:
  print(f'{bahasa} tidak ada dalam bahasa_pemrograman')

hmtl tidak ada dalam bahasa_pemrograman

In [45]:
number = 35
if number > 30:
  print(f'{number} lebih besar dari 30')
elif number == 30:
  print(f'{number} sama dengan 30')
else:
  print(f'{number} lebih kecil dari 30')

35 lebih besar dari 30

In [46]:
biodata = {'nama' : 'yuki', 'pekerjaan' : 'freshgraduate', 'usia' : 20}
'usia' in biodata

True

In [47]:
'yuki' in biodata.values()

True

### Nested IF

In [48]:
angka = 15
if angka%2 == 1:
  print(f'{angka} adalah angka ganjil')
  if angka > 10:
    print(f'{angka} lebih besar dari 10')
  else:
    print(f'{angka} lebih kecil dari 10')

else:
  print(f'{angka} adalah angka genap')

15 adalah angka ganjil
15 lebih besar dari 10

In [53]:
nilai = 102
if 85 <= nilai <=100:
  print(f'{nilai} memiliki indeks A')
elif 70 <= nilai < 85:
  print(f'{nilai} memiliki indeks B')
elif 50 <= nilai < 70:
  print(f'{nilai} memiliki indeks C')
elif 25 <= nilai < 50:
  print(f'{nilai} memiliki indeks D')
elif 0 <= nilai <25:
  print(f'{nilai} memiliki indeks E')
else:
  print('nilai tidak ada')

nilai tidak ada

penulisan lebih simple dari case di atas:

In [56]:
angka = int(input())
if 0 <= angka <= 100:
  if angka >= 85:
    print('A')
  elif angka >= 70:
    print('B')
  elif angka >= 50:
    print('C')
  elif angka >= 25:
    print('D')
  else:
    print('E')
else:
  print('Angka tidak valid')

71
B

### Looping
- pastikan kondisinya bisa berubah menjadi false
- update variable yg digunakan sebagai kondisi

In [57]:
angka = 1

In [58]:
angka = 2
print(angka)

2

In [59]:
angka = 3
print(angka)

3

In [64]:
angka = angka + 1
print(angka)

8

In [66]:
i = 0
while i < 5:
  print(f'i = {i}, masih dalam while loop')
  i = i +1

i = 0, masih dalam while loop
i = 1, masih dalam while loop
i = 2, masih dalam while loop
i = 3, masih dalam while loop
i = 4, masih dalam while loop

In [70]:
i = 1
while i <= 10:
  print(f'7 x {i} = {7*i}')
  i += 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [68]:
# nested loop table perkalian
# j x i
i = 1
j = 1
while j <= 10:
  while i <= 10:
    print(f'{j} x {i} = {j*i}')
    i += 1
  print('*'*50)
  j += 1
  i = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [71]:
# break
i = 1
while i <= 10:
  print(f'7 x {i} = {7*i}')
  i += 1
  if i == 5:
    break

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28

In [72]:
pesanan = []
while True:
  pesan = input('Masukkan pesanan anda : ')
  if pesan == 'cukup':
    break
  pesanan.append(pesan)
print(pesanan)

Masukkan pesanan anda : es teh
Masukkan pesanan anda : es jeruk
Masukkan pesanan anda : mie ayam
Masukkan pesanan anda : nasi uduk
Masukkan pesanan anda : cap cay
Masukkan pesanan anda : cukup
['es teh', 'es jeruk', 'mie ayam', 'nasi uduk', 'cap cay']

In [75]:
# continue

i = 0
while i <= 10:
  i += 1
  if i ==5:
    continue
  print(f'7 x {i} = {7*i}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77

### For Loop

In [78]:
buah = ['pepaya', 'mangga', 'pisang', 'jambu']
for item in buah:
  print(f'{item} adalah item dalam list buah')

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [82]:
i = 0
buah = ['pepaya', 'mangga', 'pisang', 'jambu']
while i < len(buah):
  print(f'{buah[i]} adalah item dalam list buah')
  i += 1

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [86]:
for i in [1,2,3]:
  print(f'{buah[i]} adalah item dalam list buah')

mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [87]:
for i in range(len(buah)):
  print(f'{buah[i]} adalah item dalam list buah')

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [90]:
list(range(5))

[0, 1, 2, 3, 4]

In [91]:
# tabel perkalian 7
for i in range(1,11):
  print(f'7 x {i} = {7*i}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [92]:
for j in range(1,11):
  for i in range(1,11):
    print(f'{j} x {i} = {j*i}')
  print('*'*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************